@page
@model RazorPagesMovie.Pages_cafe.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cafetales</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cafetales.marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cafetales.marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cafetales.inventario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cafetales.inventario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cafetales.cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cafetales.cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cafetales.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cafetales.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.cafetales?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
